spring:
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp

  datasource:
    url: jdbc:postgresql://localhost:5432/sweetshop
    username: postgres
    password: pg123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080
